@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

::-webkit-scrollbar{

    background-color: #efefeb

}

::-webkit-scrollbar-thumb{

    transition: 1s;
    background-color: rgb(255, 255, 255);

}

progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 7px;
}
progress::-webkit-progress-value {
    background-color: rgb(99, 99, 99);
    border-radius: 7px;
}

*{

    padding: 0;
    margin: 0;

    font-family: 'Ubuntu', sans-serif;

}

body {
    background: radial-gradient(160rem, rgb(0, 9, 22), rgb(0, 30, 73));
}

h4 {
    color: white;
    filter: drop-shadow(0px 0px 5px rgb(163, 163, 163));
}

h2 {
    color: white;
    filter: drop-shadow(0px 0px 5px rgb(163, 163, 163));
}

p {
    color: white;
}

main{

    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.getDatas{

    width: 90%;
    background-color: transparent;

    border-radius: 10px;
    box-shadow: 0px 0px 13px rgb(163, 163, 163);
    border: 2px solid rgb(255, 255, 255);

    padding-top: 05%;
    padding-bottom: 05%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.getDatas > h2{

    padding-bottom: 5%;

}

.getDatas > .row{

    width: 75%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    padding: 2%;


}

.row > input{

    width: 50%;

    border-radius: 5px;
    outline: 2px solid rgb(255, 255, 255);
    background: transparent;
    box-shadow: 0px 0px 13px rgb(163, 163, 163);
    color: white;
}

.row > h4{

    width: 50%;

}

.row > button{
    padding: 3.5%;
    font-size: 1rem;
    border-radius: 10px;
    transition: 1s;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgb(163, 163, 163);
    width: 40%;

}

.row > button:hover{

    transition: 0.4s;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(100, 75, 6);
    border: 2px solid rgb(241, 180, 13);
    scale: 0.9;
    color: white;
    box-shadow: 0px 6px 5px rgb(0, 0, 0);
    padding: 3.5%;

}

.computados{

    margin-top: 5%;
    width: 90%;
    background-color: transparent;

    border-radius: 10px;
    box-shadow: 0px 0px 13px rgb(163, 163, 163);
    border: 2px solid rgb(255, 255, 255);

    padding-top: 05%;
    padding-bottom: 05%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.computados > h2{

    padding-bottom: 5%;

}

.computados > .row{

    width: 75%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    padding: 2%;


}

.computados > .row > h4{

    width: 65%;

}

.computados > .row > p{

    padding-left: 0;
    padding-right: 0;

}

.computados > .row > progress{

    transition: 1s;

}

@media (min-width: 700px) {
   
    
    .row > input{

        padding: 1%;
        width: 40%;

    }

    .row > h4{

        width: 20%;
        font-size: 1.5rem;

    }

    .row > button{

        background-color: transparent;
        border: 2px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        box-shadow: 0px 0px 8px rgb(0, 0, 0);
        padding: 1%;
        width: 20%;
        font-size: 1.5rem;
        transition: 0.3;   
    }    

    .row > button:hover{

        background-color: rgb(177, 177, 177);
        border: 2px solid rgb(255, 255, 255);
        scale: 1.1;
        color: white;
        box-shadow: 0px 7px 7px rgb(0, 0, 0);
        padding: 1%;
        font-size: 1.5rem;

    }

    .getDatas > h2{

        font-size: 2.5rem;

    }

    .computados > h2{

        font-size: 2.5rem;

    }

    .row > p{
        
        font-size: 2.0rem;

    }
    
    progress {
        border-radius: 7px; 
        width: 40%;
        height: 18px;
        margin-left: -11.5%;
        box-shadow: 0px 0px 5px rgb(163, 163, 163);
    }

}
#totalPercent{

    color: #fff;
    cursor:default;

}

#totalPercent::selection{
    
    color: #fff;

}